version: '3.8'

services:
  whatsapp:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '6000:3000'
    environment:
      - NODE_ENV=production
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
